<div [formGroup]='profileFormGroup'>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput formControlName='name'>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName='email'>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Provinsi</mat-label>
        <input matInput formControlName='provinceName'>
    </mat-form-field>
</p>
<p>
    <mat-form-field appearance="outline">
        <mat-label>Kota/Kabupaten</mat-label>
        <input matInput formControlName='regencyName'>
    </mat-form-field>
</p><p>
    <mat-form-field appearance="outline">
        <mat-label>Kecamatan</mat-label>
        <input matInput formControlName='districtName'>
    </mat-form-field>
</p>
</div>